[libdefaults]
  default_realm = {{ domain_name |upper }}
  dns_lookup_realm = true
  dns_lookup_kdc = true
  ticket_lifetime = 24h
  #renew_lifetime = 7d
  forwardable = true
  rdns = false
  pkinit_anchors = FILE:/etc/pki/tls/certs/ca-bundle.crt
  spake_preauth_groups = edwards25519
  default_ccache_name = KEYRING:persistent:%{uid}

[logging]
  default = FILE:/var/log/krb5kdc.log
  admin_server = FILE:/var/log/kadmind.log
  kdc = FILE:/var/log/krb5kdc.log

#[domain_realm]
#  {{ domain_name }}={{ domain_name |upper }}
#  .{{ domain_name }}={{ domain_name |upper }}
  
#[realms]
#  {{ domain_name |upper }} = {
#      admin_server = {{ ldap_hostname }}
#      kdc = {{ ldap_hostname }}
#  }