dn: CN={{ user_cn }},OU={{ custom_ou_name }},{{ domain_dn }}
objectClass: top
objectClass: person
objectClass: organizationalPerson
objectClass: user
cn: {{ user_cn }}
userPrincipalName: {{ user_cn }}@{{ domain_name }}
servicePrincipalName: {{ user_cn }}
accountExpires: 0
userAccountControl: 66048
unicodePwd:{{ encoded_user_init_password }}